<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>employee_management_system</display-name>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>login.LoginPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/loginform</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerform</servlet-name>
    <servlet-class>login.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerform</servlet-name>
    <url-pattern>/registerform</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>profile</servlet-name>
    <servlet-class>login.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Adminprofile</servlet-name>
    <servlet-class>login.AdminProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminprofile</servlet-name>
    <url-pattern>/Adminprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admineditProfile</servlet-name>
    <servlet-class>login.EditByAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admineditProfile</servlet-name>
    <url-pattern>/admineditProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateByAdmin</servlet-name>
    <servlet-class>login.UpdateByAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateByAdmin</servlet-name>
    <url-pattern>/updateByAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admindeleteProfile</servlet-name>
    <servlet-class>login.AdminDeleteProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admindeleteProfile</servlet-name>
    <url-pattern>/admindeleteProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editProfile</servlet-name>
    <servlet-class>login.EditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editProfile</servlet-name>
    <url-pattern>/editProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateProfile</servlet-name>
    <servlet-class>login.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateProfile</servlet-name>
    <url-pattern>/updateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteProfile</servlet-name>
    <servlet-class>login.DeleteProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteProfile</servlet-name>
    <url-pattern>/deleteProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>login.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>